.all-feast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.one-feast {
    width: 310px;
    height: 340px;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.one-feast h2 {
    margin: 10px;
}

.one-feast p {
    text-align: left;
}

.one-feast img {
    border-radius: 30px;
    box-shadow: 0 0 15px #fff;
    transition: transform .7s;
}

.one-feast img:hover {
    transform: scale(1.1);
}